@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-color: #e6e6ff;
  --text-color: #000000;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  word-wrap: 100vw;
  overflow-x: hidden;
}
